# build artifacts
build/
install/
log/
devel/

# python
__pycache__/
*.pyc
.venv/

# editor/os
.vscode/
.idea/
.DS_Store
Thumbs.db

# secrets
.env
*.key
*.pem

Downloads/
f1tenth_ws/install/
f1tenth_ws/build/
f1tenth_ws/log/
*.tar.gz
*.jar
